[Unit]
Description=IPv4 DHCP server for interface %i
After=network.target netctl@%i.service

[Service]
ExecStart=/usr/bin/dyndhcpd -i%i

[Install]
WantedBy=multi-user.target
