# (C) 2013-2026 by Christian Hesse <mail@eworm.de>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

[Unit]
Description=IPv4 DHCP server for interface %i
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device network.target network-online.target systemd-networkd.service
Wants=network-online.target

[Service]
ExecStart=!/usr/bin/dyndhcpd --interface %i --user %p-%i --pidfile /run/%p@%i/dhcpd.pid --leases /var/lib/%p@%i/dhcp.leases --write-config /run/%p@%i/dhcpd.conf
RuntimeDirectory=%p@%i
StateDirectory=%p@%i
User=%p-%i
DynamicUser=on
ProtectSystem=full
ProtectHome=on
PrivateDevices=on
NoNewPrivileges=on
RestartSec=2s
Restart=on-failure
StartLimitInterval=12s

[Install]
WantedBy=multi-user.target
